#lbDate{
    -fx-font-size:30px;
}

#lbNomSalle{
    -fx-font-size:34px;
}

#lbTitre{
    -fx-font-size:25px;
}


ScrollPane{
    -fx-background-color:transparent;
}

ScrollBar{
    -fx-background-color:transparent;
}

ScrollBar .thumb{
    -fx-background-color:'BFB9CE';
    -fx-height:30px;
    -fx-background-radius:4px;
    -fx-padding-top:50px;
}

ScrollBar .increment-arrow , ScrollBar .decrement-arrow{
    -fx-opacity:0;
}

ScrollBar:horizontal{
    -fx-opacity:0;
}